In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/lucheol/in243/master/aula2/tracking.csv')
df.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [11]:
novos_nomes = {
    'home': "principal",
    "how_it_works": "como_funciona",
    "contact": "contato",
    "bought": "comprou"
}
df = df.rename(columns=novos_nomes)
df.head()

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

In [10]:
x = df[['principal','como_funciona', 'contato']]
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [7]:
y = df['comprou']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [12]:
df.shape

(99, 4)

In [16]:
# separar treino e teste manual
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

In [22]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

taxa_acuracia = accuracy_score(teste_y, previsoes)
print(f"Acurracy: {taxa_acuracia*100}")

Acurracy: 95.83333333333334

In [57]:
#separar treino e teste auto
from sklearn.model_selection import train_test_split

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state=100, test_size=0.25)

In [58]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

taxa_acuracia = accuracy_score(teste_y, previsoes)
print(f"Acurracy: {taxa_acuracia*100}")

Acurracy: 100.0

In [63]:
treino_y.value_counts()
27/47

0.574468085106383

In [62]:
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

In [66]:
y.value_counts()

0    66
1    33
Name: comprou, dtype: int64

In [72]:
#separar treino e teste auto
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/lucheol/in243/master/aula2/tracking.csv')

x = df[['home','how_it_works', 'contact']]
y = df['bought']
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, 
                                                        random_state=20, 
                                                        test_size=0.25,
                                                        stratify=y
                                                       )

model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

taxa_acuracia = accuracy_score(teste_y, previsoes)
print(f"Acurracy: {taxa_acuracia*100}")

Acurracy: 96.0

In [73]:
treino_y.value_counts()

0    49
1    25
Name: bought, dtype: int64

In [74]:
teste_y.value_counts()

0    17
1     8
Name: bought, dtype: int64